<!DOCTYPE html>
<html lang="en">

<head>
    <title>List customer</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/bootstrapv5-3-2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/customize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <div class="navbar-brand">List of customers</div>
                    <div class="d-flex" style="gap: 10px">
                        <button class="btn btn-outline-light" type="button">
                            <i class="fas fa-history"></i>
                            Transfer histories
                        </button>
                        <button class="btn btn-outline-light" id="btnShowCreate" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalCreate">
                            <i class="far fa-plus-square"></i>
                            Add new customer
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th colspan="5">Action</th>
                    </tr>
                </thead>
                <tbody id="dataCustomer">

                </tbody>
            </table>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body">
                </div>
                <button type="button" id="btnCloseToast" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- MODAL CREATE -->
    <div class="modal fade" id="modalCreate" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Customer</h1>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6">
                                <label for="fullNameCre">Full Name</label>
                                <input type="text" class="form-control" id="fullNameCre">
                            </div>
                            <div class="col-lg-6">
                                <label for="emailCre">Email</label>
                                <input type="email" class="form-control" id="emailCre">
                            </div>
                            <div class="col-lg-6">
                                <label for="phoneCre">Phone</label>
                                <input type="tel" class="form-control" id="phoneCre">
                            </div>
                            <div class="col-lg-6">
                                <label for="addressCre">Address</label>
                                <input type="text" class="form-control" id="addressCre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseCreate" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnCreate">
                        <i class="fas fa-plus"></i>
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL UPDATE -->
    <div class="modal fade" id="modalUpdate" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Customer</h1>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6">
                                <label for="fullNameUpdate">Full Name</label>
                                <input type="text" class="form-control" id="fullNameUpdate">
                            </div>
                            <div class="col-lg-6">
                                <label for="emailUpdate">Email</label>
                                <input type="email" class="form-control" id="emailUpdate">
                            </div>
                            <div class="col-lg-6">
                                <label for="phoneUpdate">Phone</label>
                                <input type="tel" class="form-control" id="phoneUpdate">
                            </div>
                            <div class="col-lg-6">
                                <label for="addressUpdate">Address</label>
                                <input type="text" class="form-control" id="addressUpdate">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseUpdate" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" id="btnUpdate">
                        <i class="fas fa-plus"></i>
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DEPOSIT -->

    <div class="modal fade" id="modalDeposit" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deposit Customer</h1>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6">
                                <label for="fullName" class="form-label fw-bold">Full Name</label>
                                <input type="text" class="form-control" id="fullNameDeposit" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="email" class="form-label fw-bold">Email</label>
                                <input type="email" class="form-control" id="emailDeposit" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="balance" class="form-label fw-bold">Current balance</label>
                                <input type="text" class="form-control" id="balanceDeposit" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="transactionAmount" class="form-label fw-bold">Transaction amount</label>
                                <input type="number" class="form-control" id="transactionAmountDeposit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseDeposit" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btnDeposit">
                        <i class="fas fa-plus"></i>
                        Deposit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL WITHDRAW -->

    <div class="modal fade" id="modalWithdraw" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Withdraw Customer</h1>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6">
                                <label for="fullName" class="form-label fw-bold">Full Name</label>
                                <input type="text" class="form-control" id="fullNameWithdraw" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="email" class="form-label fw-bold">Email</label>
                                <input type="email" class="form-control" id="emailWithdraw" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="balance" class="form-label fw-bold">Current balance</label>
                                <input type="text" class="form-control" id="balanceWithdraw" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="transactionAmount" class="form-label fw-bold">Transaction amount</label>
                                <input type="number" class="form-control" id="transactionAmountWithdraw">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseWithdraw" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" id="btnWithdraw">
                        <i class="fas fa-plus"></i>
                        Withdraw
                    </button>
                </div>
            </div>
        </div>
    </div>



    <script>
        const dataCustomer = document.querySelector('#dataCustomer');
        const toastLive = document.getElementById('liveToast');
        const toastBody = document.getElementById('toast-body');
        const btnCloseToast = document.getElementById('btnCloseToast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive);
        let customerId = 0;


        async function getAllCustomers() {
            const response = await fetch("http://localhost:3300/customers");
            const customers = await response.json();
            console.log(customers);
            customers.forEach(item => {
                dataCustomer.innerHTML += renderCustomer(item);
            });

            const btnEdit = document.querySelectorAll('.edit')
            btnEdit.forEach(item => {
                item.addEventListener('click', async () => {
                    customerId = item.getAttribute('data-id')
                    const customer = await getCustomerById(customerId);

                    openModal('modalUpdate');

                    document.getElementById('fullNameUpdate').value = customer.fullName;
                    document.getElementById('emailUpdate').value = customer.email;
                    document.getElementById('phoneUpdate').value = customer.phone;
                    document.getElementById('addressUpdate').value = customer.address;
                })
            })

            const btnDelete = document.querySelectorAll('.delete');
            btnDelete.forEach(item => {
                item.addEventListener('click', async () => {
                    customerId = item.getAttribute('data-id')

                    const updateCustomer = await fetch("http://localhost:3300/customers/" + customerId, {
                        method: 'DELETE'
                    });
                })
            })

            const btnShowDeposit = document.querySelectorAll('.deposit')
            btnShowDeposit.forEach(item => {
                item.addEventListener('click', async () => {
                    customerId = item.getAttribute('data-id')
                    const customer = await getCustomerById(customerId);
                    openModal('modalDeposit');  

                    document.getElementById('fullNameDeposit').value = customer.fullName;
                    document.getElementById('emailDeposit').value = customer.email;
                    document.getElementById('balanceDeposit').value = customer.balance;
                })
            })

            const btnShowWithdraw = document.querySelectorAll('.withdraw')
            btnShowWithdraw.forEach(item => {
                item.addEventListener('click', async () => {
                    customerId = item.getAttribute('data-id')
                    const customer = await getCustomerById(customerId);
                    openModal('modalWithdraw');  

                    document.getElementById('fullNameWithdraw').value = customer.fullName;
                    document.getElementById('emailWithdraw').value = customer.email;
                    document.getElementById('balanceWithdraw').value = customer.balance;
                })
            })
        }

        getAllCustomers();

        const renderCustomer = (obj) => {
            return `
                <tr id="tr_${obj.id}">
                    <th scope="row">${obj.id}</th>
                    <td>${obj.fullName}</td>
                    <td>${obj.email}</td>
                    <td>${obj.phone}</td>
                    <td>${obj.address}</td>
                    <td>${obj.balance}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary edit" data-id="${obj.id}">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                        <button class="btn btn-outline-success deposit" data-id="${obj.id}">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-outline-warning withdraw" data-id="${obj.id}">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button class="btn btn-outline-primary transfer" data-id="${obj.id}">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                        <button class="btn btn-outline-danger delete"
                            data-id="${obj.id}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            `
        }

        const btnCreate = document.getElementById("btnCreate");

        btnCreate.addEventListener('click', async () => {
            const fullName = document.getElementById('fullNameCre').value;
            const email = document.getElementById('emailCre').value;
            const phone = document.getElementById('phoneCre').value;
            const address = document.getElementById('addressCre').value;
            const balance = 0;
            const deleted = 0;

            const obj = {
                fullName,
                email,
                phone,
                address,
                balance,
                deleted
            }

            const createCustomer = await fetch("http://localhost:3300/customers", {
                method: 'POST',
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(obj)
            })

            const str = await createCustomer.json();
            dataCustomer.innerHTML += renderCustomer(str);
            closeModal('modalCreate');
        })

        const btnUpdate = document.getElementById("btnUpdate");
        btnUpdate.addEventListener('click', async () => {
            const fullName = document.getElementById('fullNameUpdate').value
            const email = document.getElementById('emailUpdate').value
            const phone = document.getElementById('phoneUpdate').value
            const address = document.getElementById('addressUpdate').value

            const obj = {
                fullName,
                email,
                phone,
                address
            }

            const updateCustomer = await fetch("http://localhost:3300/customers/" + customerId, {
                method: 'PATCH',
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(obj)
            });
            const customer = await response.json();

            const updateRow = document.getElementById('tr_' + customerId)
            updateRow.innerHTML = renderCustomer(customer);

            closeModal('modalUpdate');
            toastBody.innerText = 'Cập nhật thông tin thành công'
            toastBootstrap.show()

            setTimeout(() => {
                btnCloseToast.click()
            }, 2500);
        })

        const btnDeposit = document.getElementById("btnDeposit");
        btnDeposit.addEventListener('click', async () => {
            const fullName = document.getElementById('fullNameDeposit').value
            const email = document.getElementById('emailDeposit').value
            var balance = document.getElementById('balanceDeposit').value
            var transactionAmount = document.getElementById('transactionAmountDeposit').value
            
            balance = parseFloat(balance);
            transactionAmount = parseFloat(transactionAmount);
            if (transactionAmount <= 0 || transactionAmount > 1000000) {
                return;
            }
            balance = balance + transactionAmount;

            const obj = {
                balance
            }

            const depositCustomer = await fetch("http://localhost:3300/customers/" + customerId, {
                method: 'PATCH',
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(obj)
            });
            const customer = await response.json();

            const updateRow = document.getElementById('tr_' + customerId)
            updateRow.innerHTML = renderCustomer(customer);

            closeModal('modalUpdate');
            toastBody.innerText = 'Nạp tiền thành công'
            toastBootstrap.show()

            setTimeout(() => {
                btnCloseToast.click()
            }, 2500);
        })

        const btnWithdraw = document.getElementById("btnWithdraw");
        btnWithdraw.addEventListener('click', async () => {
            const fullName = document.getElementById('fullNameWithdraw').value
            const email = document.getElementById('emailWithdraw').value
            var balance = document.getElementById('balanceWithdraw').value
            var transactionAmount = document.getElementById('transactionAmountWithdraw').value
            
            balance = parseFloat(balance);
            transactionAmount = parseFloat(transactionAmount);
            if (transactionAmount > balance || transactionAmount <= 0){
                return;
            }
            balance = balance - transactionAmount;  

            const obj = {
                balance
            }

            const withdrawCustomer = await fetch("http://localhost:3300/customers/" + customerId, {
                method: 'PATCH',
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(obj)
            });
            const customer = await response.json();

            const updateRow = document.getElementById('tr_' + customerId)
            updateRow.innerHTML = renderCustomer(customer);

            closeModal('modalUpdate');
            toastBody.innerText = 'Nạp tiền thành công'
            toastBootstrap.show()

            setTimeout(() => {
                btnCloseToast.click()
            }, 2500);
        })


        const getCustomerById = async (customerId) => {
            const response = await fetch("http://localhost:3300/customers/" + customerId);
            const customer = await response.json();
            return customer;
        }

        function openModal(elem) {
            let el = document.getElementById(elem);
            new bootstrap.Modal(el).show();
        }

        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.classList.remove('show');
            modal.setAttribute('aria-hidden', 'true');
            modal.style.display = 'none';
        }

    </script>
</body>

</html>